.color1 {
    background-color: #DAD7CD;
}

.color2 {
    background-color: #A3B18A;
}

.color3 {
    background-color: #588157;
}

.color4 {
    background-color: #3A5A40;
}

.color5 {
    background-color: #344E41;
}

.textcolor {
    color: #DAD7CD;
}

