body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: scroll;
    transform-style: preserve-3d;
    background-color: #DAD7CD;

}

.color1 {
    background-color: #DAD7CD;
}

.color2 {
    background-color: #A3B18A;
}

.color3 {
    background-color: #588157;
}

.color4 {
    background-color: #3A5A40;
}

.color5 {
    background-color: #344E41;
}

.textcolor {
    color: #DAD7CD;
}
nav {
    padding: 15px;
    animation: backcolor 7s linear infinite alternate;
}

.section1{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url("https://images.unsplash.com/photo-1571613316887-6f8d5cbf7ef7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80");
    background-size: cover;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 50px;
}



.text {

    font-size: 10vh;
    font-family: "Apple Symbols";
    font-weight: bolder;
    color: white;
    text-shadow: 5px 5px 10px black;

}

@keyframes backcolor {
    0%{
        background-color: #588157;
    }
    50% {
        background-color: #A3B18A;
    }
    100% {
        background-color: #DAD7CD;
    }
}

.textbox {

    width: 25vw;
    padding-bottom: 25px;

}

footer {
    margin-top: 15px;
}
.newsletter {
    margin: 2%;
    border-radius: 20px;
    color: antiquewhite;
    background: url("https://images.unsplash.com/photo-1571613316887-6f8d5cbf7ef7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80");


    height: 15vh;
}

.n1 {
    display: flex;
    align-items: center;
}
.n2 {
    display: flex;
    align-items: center;
    justify-content: center;

}
.posts {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}


