<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
<section class="hero is-fullheight">
    <div class="hero-body color2">
        <div class="container">
            <div class="columns is-centered">
                <p class="column is-4">
                <p class="box color3" >
                    Josi the Beard Scientist: With his thick, bushy beard and sharp scientific mind,
                    Josi is a force to be reckoned with in the world of facial hair.
                    He spends his days testing and analyzing different grooming products,
                    always on the lookout for the perfect formula to achieve the ultimate beard.
                </p>
                <p class="box color3">
                    Marc the Beard Model: Marc's chiseled jawline and perfectly coiffed beard have
                    made him one of the most sought-after models in the business.
                    Whether he's posing for a magazine spread or walking the runway, Mark exudes confidence and
                    style with every step.
                </p>
                <p class="box color3">
                    Alina the Beer Brewer: Alina's passion for brewing is matched only by her dedication
                    to the art of crafting the perfect beer. Her brewery is known for its inventive and delicious
                    flavors,
                    and her loyal customers can't get enough of her unique brews.
                </p>
                <p class="box color3">
                    Minh the Cosmetic Guru: When it comes to skincare and cosmetics, Minh is the ultimate expert.
                    With her encyclopedic knowledge of ingredients and formulations, she's able to create custom
                    beauty
                    routines for her clients that leave them looking and feeling their best. Whether you need a new
                    moisturizer or a full-on skincare overhaul, Minh has you covered.
                </p>
                </p>

            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>