<!DOCTYPE html>
<html lang="en" name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{style.css}">
    <title>Edit Comment</title>
</head>
<body>
<section class="hero is-fullheight">
    <div class="hero-body color2">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4">
                    <h1 class="textcolor is-size-1">Edit</h1>
                    <form class="box color3" th:action="@{/posts/edit/{id}(id = ${postToEdit.postID})}"
                          th:object="${postToEdit}" method="post"
                          th:if="${sessionUser != null} and ${sessionUser.admin}">
                        <div class="column">
                            <input class="input color1" type="text" th:field="*{title}" placeholder="Title"/>
                        </div>
                        <div class="column">
                            <input class="input textarea color1" type="text" size="150" th:field="*{message}" placeholder="Edit Post"/>
                        </div>
                        <div>
                            <button class="button color5 textcolor" type="submit">save</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>