<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${users}" method="post">
<ul>
  <li th:each="user : ${users}">
    ID
    <span th:text="${user.getUserID()}"></span>
    Name
    <span th:text="${user.getUserName()}"></span>
      Admin
    <span th:text="${user.isAdmin()}"></span>

    <!--<input type="checkbox" th:checked="${user.isAdmin()}"/>-->
    <input type="checkbox" th:checked="${user.isAdmin}" th:onclick="${user.isAdmin() ? false: true}"  th:field="*{users[__${userStat.index}__].isAdmin}"/>


  </li>

    <button type="submit">Save</button>
</ul>
</form>

</body>
</html>