<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/}">
    <button type="submit">Home</button>
</form>
<ul>
  <li th:each="user : ${users}">
    <form th:object="${user}" method="post">
    ID
    <span th:text="${user.getUserID()}"></span>
    Name
    <span th:text="${user.getUserName()}"></span>
      Admin
    <span th:text="${user.isAdmin()}"></span>

    <!--<input type="checkbox" th:checked="${user.isAdmin()}"/>-->

  </li>


</ul>


</body>
</html>