<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
<form class="color2" th:action="@{/}">
    <button class="button color5 textcolor" type="submit">Home</button>
</form>
<section class="hero is-fullheight">
    <div class="hero-body color2">
        <div class="container">
            <div class="columns is-centered">
                <form class="column is-4">
                    <h1 class="textcolor is-size-1">User
                    </h1>

                    <div class="box color3">
                        <label class="label textcolor">
                            <ul>
                                <li th:each="user : ${users}">
                                    ID
                                    <span th:text="${user.getUserID()}"></span>
                                    Name
                                    <a th:href="@{'/user/' + ${user.getUserID()}}" th:text="${user.getUserName()}"></a>
                                    <!--<input type="checkbox" th:checked="${user.isAdmin()}"/>-->
                                </li>
                            </ul>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>