<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
<a th:href="@{/}">
    <button>Home</button>
</a>
<hr>
<!--<span th:text="'Created on' + ${post.timestamp}">Created At</span>-->
<!--<p th:text="${post.message}">PostText</p>-->

<div th:each="comment : ${comments}">
    <h2><a th:text="${comment.blogUser.userName}">
    </a>
    </h2>
    <p th:text="${comment.content}">Kommentare</p>


</div>
<form th:action="@{/{id}(id=${post.id})/comments}" method="post">
    <label>Comment:
        <input type="text" name="name" size="20" th:value="${newcomment}"/>
        <p><input type="submit" value="save"></p>
    </label>
</form>
</body>
</html>